adwo_14609_Region_Day_{{report.date}}.csv,4,{{report.impression}}
adwo_14609_Region_Day_{{report.date}}.csv,6,{{report.click}}
adwo_14609_UV_Day_{{report.date}}.csv,2,{{report.uvImpression}}
adwo_14609_UV_Day_{{report.date}}.csv,3,{{report.uvClick}}