<field name="度量" type="GROUP">
{% for column in table.columns %}
    <field name="{{column.name}}" tableName="{{table.name}}" columnName="{{column.name}}" type="DIMENSION" dataType="{{column.type}}"/>
{% endfor %}
</field>